.test{
    border: 2pt solid black;
    margin-top:50px;
}
body{
    background-image: url('../images/thebridge.jpg');
}
.myanswer{
    border:1pt solid black;
    margin:5px;
    border-radius: 15px 50px 30px 5px;
    padding: 20px;
    height: 60px;
    font-weight: bold;
    background-color: whitesmoke;
}

.mainContainer{
    background-image: url('../images/grass.jpg');
    border-radius: 25px;
    padding: 20px;
    border:3pt solid gray;
}

#gameStart{
    margin-top:300px;
    margin-bottom:20px;
    border:2pt solid black;
    width:150px;
    font-weight: bolder;
    color:black;
    background-color:white;
    font-family: 'Righteous', cursive;
    font-size: 18pt;
}

#gameTimer{
    font-size:24pt;
    font-weight: bolder;
    color:whitesmoke;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

#gameQuest{
    font-size: 18pt;
    color:black;
    font-family: 'Francois One', sans-serif;
    background-color:whitesmoke;
    
}

#answer1, #answer2, #answer3, #answer4, #gameQuest{
    display:none;
    margin-bottom:10px;
    font-family: 'Francois One', sans-serif;
    font-size: 18pt;
    
}

#answer1:hover, #answer2:hover, #answer3:hover, #answer4:hover{
    cursor: pointer;
    background-color:black;
    color:whitesmoke;
}


#gameReset{
    margin-top:50px;
    margin-bottom:10px;
    display:none;
    border:2pt solid black;
    width:150px;
    color:black;
    background-color:white;
    font-family: 'Righteous', cursive;
    font-size: 18pt;
}

#mainTitle{
    font-size: 48pt;
    color: whitesmoke;
    background-image: url('../images/dark.png');
    border-bottom:2pt solid white;
    font-family: 'Righteous', cursive;
    text-shadow: -4px 0 black, 0 4px black, 4px 0 black, 0 -4px black;
}