.test{
    border: 2pt solid black;
    margin-top:50px;
}
.myanswer{
    height:40px;
    border:1pt solid black;
    cursor: pointer;
    margin:5px;
}


#gameStart{
    margin-top:100px;
    margin-bottom:10px;
}

#answer1, #answer2, #answer3, #answer4, #gameQuest{
    display:none;
}

#gameReset{
    margin-top:100px;
    margin-bottom:10px;
    display:none;
}